p{
    color: red;
    font-size: 20px;
}
p::after{
    content: '"';
    font-size: 40px;
    color: pink;
}
p::before{
    content: '"';
    font-size: 40px;
    color: pink;
}
.box{
    width: 200px;
    height: 200px;
    background-color: salmon;
}
.box::after{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    /* background: rgba(0, 0, 0, .2); */
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .1));
}
/* .box::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
} */